@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dipendenti Management</title>
</head>
<body>
    <div>
        <h1>@ViewData["titolo"]</h1>
        <ul>
            
        </ul>
    </div>

    <script src="~/Scripts/jquery-4.0.0.min.js"></script>
</body>
</html>
