@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@ViewData["titolo"]</h1>
        <ul>
            <li><a href="../Dipendente/Elenco">Elenco Dipendenti</a></li>
            <li><a href="../Dipendente/Aggiungi">Aggiungi Dipendente</a></li>
        </ul>
    </div>
</body>
</html>
